@font-face {
  font-family: "Manrope-Bold";
  font-display: swap;
  src: url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope-ExtraBold";
  font-display: swap;
  src: url("../fonts/Manrope-ExtraBold.woff") format("woff"), url("../fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope-Medium";
  font-display: swap;
  src: url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope-Regular";
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: #303032;
}

a:hover {
  opacity: 0.7;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1447px;
  margin: 0 auto;
  height: 751px;
  background-color: #f9fdff;
}

.left-section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 916px;
  padding: 90px 0;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.nav li {
  margin: 0 30px;
}

.nav img {
  margin-right: 100px;
}

.right-section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 524px;
  background-color: #fceae8;
  height: 751px;
  padding: 90px 135px;
  text-align: right;
}

.right-section img:last-child {
  margin-left: 22px;
}