@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
	color: #303032;

	&:hover {
		opacity: 0.7;
	}
}

body {
	box-sizing: border-box;
}

.container {
	position: relative;
	max-width: 1447px;
	margin: 0 auto;
	background-color: #f9fdff;
}

#header > .container {
	z-index: 1;
}

.right-back::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 524px;
	height: 751px;
	background-color: #fceae8;
	content: "";
	z-index: -1;
}

.row {
	padding: 90px 0;
	align-items: center;
}

.logo {
	box-sizing: border-box;
}

.nav {
	box-sizing: border-box;
	& ul {
		list-style: none;
		display: flex;
		justify-content: space-around;

		& li a {
			text-transform: uppercase;
		}
	}
}

.buttons {
	box-sizing: border-box;
	text-align: right;
	z-index: 3;
	& img:last-child {
		margin: 0 135px 0 22px;
	}
}

#slider > .container {
	z-index: 0;
}

.armchair img {
	max-width: 400px;
}
